@model db.User

@{
    ViewBag.Title = "Overseer - User Details";
}

<h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>

<fieldset>
    <legend>Shelves</legend>

    <table>
        @foreach(var item in Model.Shelves) {
            <tr>
                <td>@Html.DisplayFor(mItem => item.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id=item.ID}) |
                    @Html.ActionLink("Details", "Details", new {id=item.ID}) |
                    @Html.ActionLink("Delete", "Delete", new {id=item.ID}) 
                </td>
            </tr>
        }
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
