@model db.User

@using(Html.BeginForm("Register", "Users")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p><input type="submit" value="Register" /></p>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name, new { @class = "auto-hint" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Surname, new { @class = "auto-hint" })
        @Html.ValidationMessageFor(model => model.Surname)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Email, new { @class = "auto-hint" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Nickname, new { @class = "auto-hint" })
        @Html.ValidationMessageFor(model => model.Nickname)
    </div>
    <div class="editor-field">
        @Html.Password("password")
        @Html.ValidationMessage("webpages_Membership")
    </div>
}