@model db.User

@using(Html.BeginForm("Register", "Users")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Surname)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Surname)
        @Html.ValidationMessageFor(model => model.Surname)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">Username</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nickname)
        @Html.ValidationMessageFor(model => model.Nickname)
    </div>

    <div class="editor-label">Password</div>
    <div class="editor-field">
        @Html.Password("password")
        @Html.ValidationMessage("webpages_Membership")
    </div>

    <p>
        <input type="submit" value="Register" />
    </p>
}